footer {
    margin: 0 !important;
    padding: 0 !important;
}

/* style for daftar button */
.daftar-btn {
    margin: 20px 15px;
    padding: 20px 5px;
    color: #3f5683;
    font-family: ArcadeClassic;
}

/* font style for footer element */
.footer-title span,
.part-title {
    color: #fff;
    ;
    filter: drop-shadow(1px 4px #000);
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-family: ArcadeClassic;
    font-size: 35px;
    text-align: center;
}

span.part-title {
    margin: 15px auto;
}

/* partner area */
.media-partner-content {
    display: flex;
    gap: 10px;
    flex-wrap: wrap !important;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 10px 0 10px;
}

.partner-logo {
    width: 50px;
    margin: 10px;
}



/* sett font size for text on social media table */
.media-partner-part,
.social-media-part,
.contact-person-part {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 10px 0 10px;
}


.social-media-container,
.contact-person-content {
    display: flex;
    justify-content: center;
}

table tr,
ul li {
    font-size: 18px;
}

table td {
    padding-inline: 10px;
}

.daftar-btn-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../../assets/FooterAssets/daftar-area-bg.png");
}

.daftar-btn {
    margin: 50px !important;
}

.text-daftar {
    margin: -5px !important;
}

/* background for footer content area */
.footer-content {
    width: 100vw;
    background-image: url("../../assets/FooterAssets/footer-content-bg.png");
    background-size: contain;
    background-repeat: no-repeat;
}

/* Footer Background */
.footer-bg-img {
    max-width: 100vw;
    height: calc(100vh - 40vh);
    background-size: contain;
    background-repeat: no-repeat;
    margin: -200px 0 0 0 !important;
    background-position: center bottom;
    background-image: url("../../assets/FooterAssets/footer-bg.png");
  }

/* center for footer title */
.footer-title {
    display: flex;
    justify-content: center;
}

.footer-title-content {
    text-align: center;
    width: 400px;
}

.footer-more-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.more-info-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.logo-pixel-corners,
.logo-pixel-corners--wrapper {
    background-color: #fff;
    clip-path: polygon(0px calc(100% - 20px),
            4px calc(100% - 20px),
            4px calc(100% - 12px),
            8px calc(100% - 12px),
            8px calc(100% - 8px),
            12px calc(100% - 8px),
            12px calc(100% - 4px),
            20px calc(100% - 4px),
            20px 100%,
            calc(100% - 20px) 100%,
            calc(100% - 20px) calc(100% - 4px),
            calc(100% - 12px) calc(100% - 4px),
            calc(100% - 12px) calc(100% - 8px),
            calc(100% - 8px) calc(100% - 8px),
            calc(100% - 8px) calc(100% - 12px),
            calc(100% - 4px) calc(100% - 12px),
            calc(100% - 4px) calc(100% - 20px),
            100% calc(100% - 20px),
            100% 20px,
            calc(100% - 4px) 20px,
            calc(100% - 4px) 12px,
            calc(100% - 8px) 12px,
            calc(100% - 8px) 8px,
            calc(100% - 12px) 8px,
            calc(100% - 12px) 4px,
            calc(100% - 20px) 4px,
            calc(100% - 20px) 0px,
            20px 0px,
            20px 4px,
            12px 4px,
            12px 8px,
            8px 8px,
            8px 12px,
            4px 12px,
            4px 20px,
            0px 20px);
    position: relative;
}

.logo-pixel-corners {
    border: 4px solid transparent;
}

.logo-pixel-corners--wrapper {
    width: fit-content;
    height: fit-content;
}

.logo-pixel-corners--wrapper .logo-pixel-corners {
    display: block;
    clip-path: polygon(4px 20px,
            8px 20px,
            8px 12px,
            12px 12px,
            12px 8px,
            20px 8px,
            20px 4px,
            calc(100% - 20px) 4px,
            calc(100% - 20px) 8px,
            calc(100% - 12px) 8px,
            calc(100% - 12px) 12px,
            calc(100% - 8px) 12px,
            calc(100% - 8px) 20px,
            calc(100% - 4px) 20px,
            calc(100% - 4px) calc(100% - 20px),
            calc(100% - 8px) calc(100% - 20px),
            calc(100% - 8px) calc(100% - 12px),
            calc(100% - 12px) calc(100% - 12px),
            calc(100% - 12px) calc(100% - 8px),
            calc(100% - 20px) calc(100% - 8px),
            calc(100% - 20px) calc(100% - 4px),
            20px calc(100% - 4px),
            20px calc(100% - 8px),
            12px calc(100% - 8px),
            12px calc(100% - 12px),
            8px calc(100% - 12px),
            8px calc(100% - 20px),
            4px calc(100% - 20px));
}

.logo-pixel-corners::after,
.logo-pixel-corners--wrapper::after {
    content: "";
    position: absolute;
    clip-path: polygon(0px calc(100% - 20px),
            4px calc(100% - 20px),
            4px calc(100% - 12px),
            8px calc(100% - 12px),
            8px calc(100% - 8px),
            12px calc(100% - 8px),
            12px calc(100% - 4px),
            20px calc(100% - 4px),
            20px 100%,
            calc(100% - 20px) 100%,
            calc(100% - 20px) calc(100% - 4px),
            calc(100% - 12px) calc(100% - 4px),
            calc(100% - 12px) calc(100% - 8px),
            calc(100% - 8px) calc(100% - 8px),
            calc(100% - 8px) calc(100% - 12px),
            calc(100% - 4px) calc(100% - 12px),
            calc(100% - 4px) calc(100% - 20px),
            100% calc(100% - 20px),
            100% 20px,
            calc(100% - 4px) 20px,
            calc(100% - 4px) 12px,
            calc(100% - 8px) 12px,
            calc(100% - 8px) 8px,
            calc(100% - 12px) 8px,
            calc(100% - 12px) 4px,
            calc(100% - 20px) 4px,
            calc(100% - 20px) 0px,
            20px 0px,
            20px 4px,
            12px 4px,
            12px 8px,
            8px 8px,
            8px 12px,
            4px 12px,
            4px 20px,
            0px 20px,
            0px 50%,
            4px 50%,
            4px 20px,
            8px 20px,
            8px 12px,
            12px 12px,
            12px 8px,
            20px 8px,
            20px 4px,
            calc(100% - 20px) 4px,
            calc(100% - 20px) 8px,
            calc(100% - 12px) 8px,
            calc(100% - 12px) 12px,
            calc(100% - 8px) 12px,
            calc(100% - 8px) 20px,
            calc(100% - 4px) 20px,
            calc(100% - 4px) calc(100% - 20px),
            calc(100% - 8px) calc(100% - 20px),
            calc(100% - 8px) calc(100% - 12px),
            calc(100% - 12px) calc(100% - 12px),
            calc(100% - 12px) calc(100% - 8px),
            calc(100% - 20px) calc(100% - 8px),
            calc(100% - 20px) calc(100% - 4px),
            20px calc(100% - 4px),
            20px calc(100% - 8px),
            12px calc(100% - 8px),
            12px calc(100% - 12px),
            8px calc(100% - 12px),
            8px calc(100% - 20px),
            4px calc(100% - 20px),
            4px 50%,
            0px 50%);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(0, 0, 0);
    display: block;
    pointer-events: none;
}

.logo-pixel-corners::after {
    margin: -4px;
}

.logo-pixel-corners--wrapper:hover,
.logo-pixel-corners--wrapper:hover .logo-pixel-corners {
    background-color: #e3ffff;
}

.text-button:hover {
    color: #1959da;
}

.logo-pixel-corners--wrapper:hover {
    transform: scale(1.1);
}

.logo-pixel-corners--wrapper,
.logo-pixel-corners,
.text-button {
    cursor: pointer;
    transition:
        transform 0.3s ease-in-out,
        background-color 0.3s ease-in-out;
}

/* responsive screen */
@media screen and (max-width: 480px) {
    .daftar-btn {
        margin: 30px !important;
    }

    .text-daftar {
        font-size: 8vw !important;
    }
}

@media screen and (min-width: 767px) {
    .more-info-content {
        width: 90vw;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .media-partner-part,
    .social-media-part,
    .contact-person-part {
        justify-content: unset;
    }
}

@media screen and (max-width: 767px) {
    .daftar-btn-container {
        justify-content: center;
    }
}
 @media screen and (min-width: 895px) {
  .footer-bg-img {
    margin: -200px 0 -50px 0 !important;
  }  
 }
 
 @media screen and (min-width: 1024px) {
  .footer-bg-img {
    margin: -100px 0 -65px 0 !important;
  }  
 }
