@import url('https://fonts.cdnfonts.com/css/arcade-classic');

:root {
	--font-family: 'VT323', monospace;
	--font-family2: 'ArcadeClassic', sans-serif;
}

* {
	margin: 0;
	padding: 0;
	font-family: var(--font-family);
}

body {
	overflow-x: hidden;
	height: 100%;
	margin: 0;
	background-image: url('./assets/bg.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.container {
	@media only screen and (min-width: 900px) {
		margin-top: 50px;
		margin-bottom: 50px;
	}
}

section,
footer {
	margin: 35px;
	@media only screen and (min-width: 900px) {
		margin-top: 50px;
		margin-bottom: 50px;
		margin-left: 100px;
		margin-right: 100px;
	}
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1 {
	font-family: var(--font-family2);
}

a {
	text-decoration: none;
}

/* ----------------------SECTION HERO CSS---------------------- */
.hero {
	padding-top: 3rem;
	margin-left: 0 !important;
	margin-right: 0 !important;
	.hero-content {
		text-align: center;

		.hero-title {
			background: -webkit-linear-gradient(#ffffff 48%, #fdf534 48%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			filter: drop-shadow(3px 5px #000);
			-webkit-text-stroke-width: 1px;
			-webkit-text-stroke-color: black;
			font-family: ArcadeClassic;
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			font-size: clamp(100px, 20vw, 160px);
			@media only screen and (max-width: 1250px) {
				font-size: clamp(60px, 10vw, 100px);
			}
		}

		.hero-subtitle {
			font-style: normal;
			font-weight: 400;
			line-height: normal;
			color: #fff;
			filter: drop-shadow(2px 2px #3f5683);
			font-family: VT323;
			font-size: clamp(2.5rem, 3vw, 6rem);
			@media only screen and (min-width: 900px) {
				font-size: clamp(3.5rem, 3vw, 6rem);
			}
		}
	}
}

.cloud-wrapper-right {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 0;
}

.cloud-wrapper-left {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 0;
}

.cloud-energy-right {
	width: 400px;
	height: 200px;
	background-image: url('assets/cloud&energyright.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
	margin-top: 7rem;
}

.cloud-energy-left {
	width: 350px;
	height: 250px;
	background-image: url('assets/cloud&energyleft.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left;
	margin-top: 7rem;
}

.item-hero-bot {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.rumput-left {
	width: 500px;
	height: 350px;
	background-image: url('assets/rumputLeft.png'); /* Ganti dengan path gambar yang sesuai */
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.diamond {
	width: 250px;
	height: 80px;
	background-image: url('assets/diamond.png'); /* Ganti dengan path gambar yang sesuai */
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.rumput-right {
	width: 500px;
	height: 350px;
	background-image: url('assets/rumputRight.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

@media (max-width: 1110px) {
	.rumput-left,
	.rumput-right {
		width: 370px;
		height: 250px;
		background-size: contain;
		background-repeat: no-repeat;
		transition: all 0.3s ease;
	}
}

@media (max-width: 1110px) {
	.diamond {
		width: 200px;
		height: 80px;
		background-size: contain;
		background-repeat: no-repeat;
		transition: all 0.3s ease;
	}
}

@media (max-width: 700px) {
	.rumput-left,
	.rumput-right {
		width: 370px;
		height: 150px;
		background-size: contain;
		background-repeat: no-repeat;
		transition: all 0.3s ease;
	}
}

@media (max-width: 1110px) {
	.cloud-energy-right,
	.cloud-energy-left {
		width: 250px;
		background-size: contain;
		background-repeat: no-repeat;
		transition: all 0.3s ease;
	}
}

@media (max-width: 925px) {
	.cloud-energy-right,
	.cloud-energy-left {
		width: 100px;
		background-size: contain;
		background-repeat: no-repeat;
		transition: all 0.3s ease;
	}
}

@media (max-width: 500px) {
	.cloud-energy-right {
		width: 100px;
		background-size: contain;
		background-repeat: no-repeat;
		transition: all 0.3s ease;
		background-image: url('assets/cloud.png');
	}
}

.text-button {
	margin-top: 10px;
	padding-inline: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	margin-left: 9px;
	color: #3f5683;
	font-family: ArcadeClassic;
	font-size: 50px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.pixel-corners,
.pixel-corners--wrapper {
	width: 100%;
	margin: auto;
	margin-top: 2rem;
	background-color: #fff;
	clip-path: polygon(
		0px calc(100% - 20px),
		4px calc(100% - 20px),
		4px calc(100% - 12px),
		8px calc(100% - 12px),
		8px calc(100% - 8px),
		12px calc(100% - 8px),
		12px calc(100% - 4px),
		20px calc(100% - 4px),
		20px 100%,
		calc(100% - 20px) 100%,
		calc(100% - 20px) calc(100% - 4px),
		calc(100% - 12px) calc(100% - 4px),
		calc(100% - 12px) calc(100% - 8px),
		calc(100% - 8px) calc(100% - 8px),
		calc(100% - 8px) calc(100% - 12px),
		calc(100% - 4px) calc(100% - 12px),
		calc(100% - 4px) calc(100% - 20px),
		100% calc(100% - 20px),
		100% 20px,
		calc(100% - 4px) 20px,
		calc(100% - 4px) 12px,
		calc(100% - 8px) 12px,
		calc(100% - 8px) 8px,
		calc(100% - 12px) 8px,
		calc(100% - 12px) 4px,
		calc(100% - 20px) 4px,
		calc(100% - 20px) 0px,
		20px 0px,
		20px 4px,
		12px 4px,
		12px 8px,
		8px 8px,
		8px 12px,
		4px 12px,
		4px 20px,
		0px 20px
	);
	position: relative;
}
.pixel-corners {
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
	border: 4px solid transparent;
}

.pixel-corners--wrapper,
.pixel-corners,
.text-button {
	cursor: pointer;
	transition:
		transform 0.3s ease-in-out,
		background-color 0.3s ease-in-out;
}

.pixel-corners:hover {
	background-color: #e3ffff;
}

.text-button:hover {
	color: #1959da;
}

.pixel-corners--wrapper:hover {
	transform: scale(1.1);
}

.pixel-corners--wrapper {
	width: fit-content;
	height: fit-content;
}

.pixel-corners--wrapper .pixel-corners {
	clip-path: polygon(
		4px 20px,
		8px 20px,
		8px 12px,
		12px 12px,
		12px 8px,
		20px 8px,
		20px 4px,
		calc(100% - 20px) 4px,
		calc(100% - 20px) 8px,
		calc(100% - 12px) 8px,
		calc(100% - 12px) 12px,
		calc(100% - 8px) 12px,
		calc(100% - 8px) 20px,
		calc(100% - 4px) 20px,
		calc(100% - 4px) calc(100% - 20px),
		calc(100% - 8px) calc(100% - 20px),
		calc(100% - 8px) calc(100% - 12px),
		calc(100% - 12px) calc(100% - 12px),
		calc(100% - 12px) calc(100% - 8px),
		calc(100% - 20px) calc(100% - 8px),
		calc(100% - 20px) calc(100% - 4px),
		20px calc(100% - 4px),
		20px calc(100% - 8px),
		12px calc(100% - 8px),
		12px calc(100% - 12px),
		8px calc(100% - 12px),
		8px calc(100% - 20px),
		4px calc(100% - 20px)
	);
}
.pixel-corners::after,
.pixel-corners--wrapper::after {
	content: '';
	position: absolute;
	clip-path: polygon(
		0px calc(100% - 20px),
		4px calc(100% - 20px),
		4px calc(100% - 12px),
		8px calc(100% - 12px),
		8px calc(100% - 8px),
		12px calc(100% - 8px),
		12px calc(100% - 4px),
		20px calc(100% - 4px),
		20px 100%,
		calc(100% - 20px) 100%,
		calc(100% - 20px) calc(100% - 4px),
		calc(100% - 12px) calc(100% - 4px),
		calc(100% - 12px) calc(100% - 8px),
		calc(100% - 8px) calc(100% - 8px),
		calc(100% - 8px) calc(100% - 12px),
		calc(100% - 4px) calc(100% - 12px),
		calc(100% - 4px) calc(100% - 20px),
		100% calc(100% - 20px),
		100% 20px,
		calc(100% - 4px) 20px,
		calc(100% - 4px) 12px,
		calc(100% - 8px) 12px,
		calc(100% - 8px) 8px,
		calc(100% - 12px) 8px,
		calc(100% - 12px) 4px,
		calc(100% - 20px) 4px,
		calc(100% - 20px) 0px,
		20px 0px,
		20px 4px,
		12px 4px,
		12px 8px,
		8px 8px,
		8px 12px,
		4px 12px,
		4px 20px,
		0px 20px,
		0px 50%,
		4px 50%,
		4px 20px,
		8px 20px,
		8px 12px,
		12px 12px,
		12px 8px,
		20px 8px,
		20px 4px,
		calc(100% - 20px) 4px,
		calc(100% - 20px) 8px,
		calc(100% - 12px) 8px,
		calc(100% - 12px) 12px,
		calc(100% - 8px) 12px,
		calc(100% - 8px) 20px,
		calc(100% - 4px) 20px,
		calc(100% - 4px) calc(100% - 20px),
		calc(100% - 8px) calc(100% - 20px),
		calc(100% - 8px) calc(100% - 12px),
		calc(100% - 12px) calc(100% - 12px),
		calc(100% - 12px) calc(100% - 8px),
		calc(100% - 20px) calc(100% - 8px),
		calc(100% - 20px) calc(100% - 4px),
		20px calc(100% - 4px),
		20px calc(100% - 8px),
		12px calc(100% - 8px),
		12px calc(100% - 12px),
		8px calc(100% - 12px),
		8px calc(100% - 20px),
		4px calc(100% - 20px),
		4px 50%,
		0px 50%
	);
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #3f5683;
	display: block;
	pointer-events: none;
}
.pixel-corners::after {
	margin: -4px;
}

.pixel-corners--wrapper {
	align-items: center;
	@media only screen and (max-width: 700px) {
		width: 150px;
		height: 80px;
		transition: all 0.3s ease;
	}
}

@media only screen and (max-width: 700px) {
	.pixel-corners,
	.pixel-corners--wrapper {
		width: 150px;
		height: 80px;
		transition: all 0.3s ease;
	}
}

.text-button {
	@media only screen and (max-width: 700px) {
		font-size: 40px;
		margin-left: 0;
		transition: all 0.3s ease;
	}
}
/* ----------------------END SECTION HERO CSS---------------------- */

/* ----------------------SECTION ABOUT CSS---------------------- */
.title {
	color: #fff;
	text-align: center;
	text-shadow: 0px 4px 0px #000;
	filter: drop-shadow(2px 2px #000);
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
	font-family: ArcadeClassic;
	font-size: 88px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	/* margin-bottom: 40px; */
	@media only screen and (max-width: 766px) {
		font-size: 40px;
	}
}

.item-about {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.flower-left,
.character-center,
.flower-right {
	width: 150px;
	height: 150px;
	background-size: contain;
	background-repeat: no-repeat;
}

.flower-left {
	background-image: url('assets/flower-l.png'); /* Ganti dengan path gambar yang sesuai */
}

.character-center {
	background-image: url('assets/charcter-about.png'); /* Ganti dengan path gambar yang sesuai */
}

.flower-right {
	background-image: url('assets/flower-r.png');
}

.title.with-arrows {
	background-image: url('assets/arrow-r.png'), url('assets/arrow-l.png');
	background-size: 9rem, 9rem;
	background-repeat: no-repeat, no-repeat;
	background-position:
		left 400px center,
		right 400px center;
	transition: all 0.3s ease;
}

.balloon {
	margin-top: 20px;
	@media only screen and (min-width: 767px) {
		margin-inline: 5rem;
	}
}
.balloon p {
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	@media only screen and (min-width: 900px) {
		font-size: 40px;
	}
}

.bubble-buttom {
	position: absolute;
	bottom: -25px; /* Adjust the distance from the bubble */
	left: 50%;
	transform: translateX(-50%);
	width: 5px;
	height: 21px;
	content: '';
	display: block;
	background: #fff;
	box-shadow:
		4px -5px #fff,
		8px -10px #fff,
		0 5px #212529,
		5px 0 #212529,
		10px -5px #212529,
		13px -8px #212529,
		-5px 0 #212529;
}

@media (max-width: 768px) {
	.title.with-arrows {
		background-size: 2rem, 2rem;
		background-position:
			left center,
			right center; /* Sesuaikan posisi sesuai kebutuhan */
		transition: all 0.3s ease;
	}

	.flower-left,
	.character-center,
	.flower-right {
		width: 100px;
		background-size: contain;
		background-repeat: no-repeat;
		transition: all 0.3s ease;
	}
}

@media (min-width: 769px) and (max-width: 1600px) {
	.title.with-arrows {
		background-size: 6rem, 6rem;
		background-position:
			left 40px center,
			right 40px center;
		transition: all 0.3s ease;
	}
}

/* ----------------------END SECTION ABOUT CSS---------------------- */

/* ini responsifny gmn dah pusing gw  */

.title-container {
	display: grid;
	grid-template-columns: auto auto auto;
	align-items: center;
	justify-content: space-around;
}

.benefit-content {
	margin-top: 30px;
}

.benefit-item {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 20px;
}

.benefit-item h1 {
	color: #354a74;
	font-size: clamp(3rem, 3vw, 6rem);
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}
.benefit-item h2 {
	color: #000;
	font-family: VT323;
	font-size: clamp(2.5rem, 3vw, 6rem);

	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.benefit-title span {
	margin-left: 20px;
	font-family: var(--font-family2);
}

@media (max-width: 768px) {
	.benefit-item {
		grid-template-columns: 1fr;
	}
}
